.DS_Store
vuex-test/node_modules/
vuex-test/build/
vuex-test/dist/
vuex-test/test/
vuex-test/config/
vuex-test/npm-debug.log*
vuex-test/yarn-debug.log*
vuex-test/yarn-error.log*
vuex-test/selenium-debug.log
vuex-test/.babelrc
vuex-test/.editorconfig
vuex-test/.eslintignore
vuex-test/.eslintrc.js
vuex-test/.gitignore
vuex-test/.postcssrc.js
vuex-test/package-lock.json


vue-test01/node_modules/
vue-test01/build/
vue-test01/dist/
vue-test01/static/
vue-test01/test/
vue-test01/config/
vue-test01/npm-debug.log*
vue-test01/yarn-debug.log*
vue-test01/yarn-error.log*
vue-test01/selenium-debug.log
vue-test01/.babelrc
vue-test01/.editorconfig
vue-test01/.eslintignore
vue-test01/.eslintrc.js
vue-test01/.gitignore
vue-test01/.postcssrc.js
vue-test01/package-lock.json


# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
