body {
  margin: 0;
  padding: 0;
}

ul {
  text-decoration: none;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 40px;
}
ul li {
  list-style: none;
  /*float: left;*/
  font-size: 12px;
  height: 100%;
  padding: 10px;
}
a {
  text-decoration: none;
  color: #000;
}
figure {
  width: 21%;
  display: inline-block;
  margin-left: 0;
}
figure a {
  display: inline-block;
  border: 1px solid #ccc;
}
figure img {
  width: 100px;
}
